# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
dist/
build/
*.egg

# --- UV ---
.venv/
.uv/
uv.lock

# --- Tests / Coverage ---
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
.pyre/

# --- IDE / Editeur ---
.vscode/
.idea/
*.swp
*.swo

# --- OS ---
.DS_Store
Thumbs.db